h1 {
  font-family: georgia, serif;
  color: #333;
  font-size: 45px;
  letter-spacing: -2px;
  font-weight: bold;
}

h2 {
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  color: #777;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 1px;
}

a       { color: #000; }
a:hover { color: #444; }

#parappa {
  width: 1000px;
  margin: 0 auto;
}

#post {
  border-bottom: 1px dashed #666;
  padding-bottom: 10px;
}

#archive a {
  padding-right: 5px;
}

#archive abbr {
  font-size: 80%;
  color: #888;
}

pre, code {
  font-family: "Lucidia Console", mono !important;
  font-size: 12px;
  margin-left: 20px;
  padding-left: 5px;
  border-left: 1px solid gray;
}

.footnotes {
  font-size: 10px;
}

.footnotes > ol > li {
  position: relative;
}
.footnotes > ol > li > p {
  display: inline;
}

.footnotes hr {
  display: none;
}
