@font-face {
	font-family: 'TlwgMono';
	src: url('type/tlwgmono-bold-webfont.eot');
	src: local('☺'), url('type/tlwgmono-bold-webfont.woff') format('woff'), url('type/tlwgmono-bold-webfont.ttf') format('truetype'), url('type/tlwgmono-bold-webfont.svg#webfont1MlrnhsE') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'TlwgMono';
	src: url('type/tlwgmono-webfont.eot');
	src: local('☺'), url('type/tlwgmono-webfont.woff') format('woff'), url('type/tlwgmono-webfont.ttf') format('truetype'), url('type/tlwgmono-webfont.svg#webfontkqxZripC') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
  font-family: 'Fontin';
}

h1 {
  margin: 10px 0;
  padding: 10px 20px;
  font-family: 'TlwgMono';
  color: #fff;
  background-color: #222;
  font-size: 2em;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

h1 a {
  color: white;
  text-decoration: none;
}

h1 a:hover {
  color: white;
}

h2 {
  font-family: 'UnDinaru';
  margin: 0;
  color: #777;
  font-size: 1.5em;
}

a       { color: #000; }
a:hover { color: #444; }

#parappa {
  width: 1000px;
  margin: 0 auto;
}

#sideaction {
  float: right;
  width: 200px;
  font-size: 0.9em;
  padding: 0.2em;
}

#sideaction h4 {
  font-family: 'UnDinaru';
  margin: 0;
  padding: 10px 0 2px 0;
  font-size: 1.5em;
  border-bottom: dotted 1px #bbb;
}

#sideaction img {
  display: block;
  margin: 0 auto;
}

#contentisking {
  margin-right: 210px;
  padding: 0 10px;
  border-right: solid gray 1px;
}

#post {
  border-bottom: 1px dashed #666;
  padding-bottom: 10px;
}

#post .date {
  font-size: 0.7em;
  float: right;
}

#archive a {
  padding-right: 5px;
}

#archive abbr {
  font-size: 80%;
  color: #888;
}

.highlight {
  font-family: 'TlwgMono' !important;
  font-size: 14px;
  margin-left: 20px;
  padding-left: 5px;
  border-left: 1px solid gray;
}

.footnotes {
  font-size: 10px;
}

sup a {
  text-decoration: none;
}

sup a:hover {
  text-decoration: underline;
}

.footnotes > ol > li {
  position: relative;
}
.footnotes > ol > li > p {
  display: inline;
}

.footnotes hr {
  display: none;
}
