/*
 * (( ~phinze ))
 * 
 * design.css
 *
 * All design related styles, colors, borders, background images.
 */

body {
    background-color: #f96;
    background-image: none; /* override upgrade message */
}

#titlebar {
    background: #c63 url('../img/titlebar-shadow-top.png') repeat-x top;
}

#titlebar h1 {
	background: url('../img/titlebar-shadow-bot.png') repeat-x bottom;
}

blockquote {
    border-left: dotted 1px gray;
    padding-left: 5px;
}

#nav ul {
	list-style: none;
	padding-left: 1em;
}

#nav a {
	width: 10em;
	text-align: right;
	border-bottom: solid black 2px;
	color: black;
}

#nav a:hover {
	background-color: black;
	color: #f96; 
	text-decoration: none;
}
