/*
 * (( ~phinze ))
 * 
 * design.css
 *
 * All design related styles, colors, borders, background images.
 */

body {
    background-color: #ccc;
    background-image: none; /* override upgrade message */
}

a, a:visited, a:active {
	color: #a30;
}

#cc_license a {
	color: black;
}
	

#titlebar {
    background: #6c3 url('../img/titlebar-shadow-top.png') repeat-x top;
}

#titlebar h1 {
	background: url('../img/titlebar-shadow-bot.png') repeat-x bottom;
}

blockquote {
    border-left: dotted 1px gray;
    padding-left: 5px;
}

#nav ul {
	list-style: none;
}

#nav a {
	border-bottom: solid black 2px;
	color: black;
}

#nav a:hover {
	background-color: black;
	color: #9f6; 
	text-decoration: none;
}

#footer {
	border-top: solid gray 1px;
}
