/*
 * (( ~phinze ))
 * 
 * layout.css
 *
 * All layout related styles: position, float, margin, padding.
 */

html {
}

body {
    margin: 0;
    padding: 0;
}


#content {
	padding: 1em 1em 0em 21em;
}

#footer {
}

#nav ul {
	margin: 0;
	padding: 0 0 0.5em 0;
	width: 20%;
	float: left;
}

#nav a {
	padding-right: 0.8em;
    display: block;
	width: 25%;
}

#titlebar img {
	float: left;
	margin: 0 0 0 17px;
}

#titlebar h1 {
	margin: 0;
	padding: 10px 267px;
	margin-bottom: 3px;
}

#cc_license {
    float: right;
    margin: 2em;

}

#qotd {
	padding: 0.5em;
}
