/*
 * (( ~phinze ))
 * 
 * layout.css
 *
 * All layout related styles: position, float, margin, padding.
 */

html {
}

body {
    margin: 0;
    padding: 0;
	overflow-y: scroll;
}

#footer {
	clear: both;
	margin: 1em;
	padding: 0.3em 0;
}

#nav ul {
	float: right;
	width: 20%;
	margin: 0;
	padding: 0;
}

#nav li {
	padding: 0;
	margin: 0;
}

#nav dl {
}

#nav dd {
	padding: 0;
	margin: 0 0 0 1.2em;
}

#nav a {
	padding: 0.5em 0 0.2em 0.8em;
    display: block;
}

#content {
	padding: 1em 23% 0em 1em;
}

#content dt {
	clear: left;
	float: left;
}

#titlebar {
	height: 74px; /* lock this to prevent layout breaking on text shrink */
}

#titlebar img {
	float: left;
	margin: 0 0 0 17px;
}

#titlebar h1 {
	height: 55px; /* lock this to prevent layout breaking on text shrink */
	margin: 0;
	padding: 10px 267px;
	margin-bottom: 3px;
}

#cc_license {
    float: right;
    margin: 21px;

}

#qotd {
	padding: 0.5em;
}

.right {
	float: right;
}
