body, h1, h2, h3, h4, h5, h6,ol, ul, li, p {
	font-family: courier new, courier, monospace;
	color: #000;
	}
body {
	margin: 0;
	padding: 40px 5% 5% 5%;
	background-color: #fff;
	background-image: url(http://www.phinze.com/img/n4_upgrade.gif);
	background-repeat: no-repeat;
	background-position: top left;
	}
		
/*typography*/
a:link {
	}
a:visited {
	}
a:active {
	}
a:hover {
	/*hover doesn't work in nn4*/
	}
h1 {
	font-size: 150%;
	font-weight: normal;
	}
h2 {
	font-size: 120%;
	font-weight: normal;
	}
h3 {
	font-size: 100%;
	font-weight: normal;
	}
h4 {
	font-size: 80%;
	font-weight: bold;
	}
h5 {
	font-size: 70%;
	font-weight: bold;
	}
h6 {
	font-size: 64%;
	font-weight: bold;
	}
img {
	border: 0;
	}
ol, ul, li {/*
	list-style: none;*/
	font-size: 80%;
	line-height: 120%;
	}
p {
	font-size: 80%;
	line-height: 120%;
	}
pre {
	font-family: monospace;
	font-size: 80%;
	}
strong, b {
	font-weight: bold;
	}
