/*
 * (( phinze.com ))
 * 
 * typography.css
 *
 * Typography Template based on Owen Briggs' work.
 * For now attempting to keep this strictly text sizing, spacing and weight.
 */

h1, h2, h3, h4, h5, h6, dt {
	font-family: courier new, courier, monospace;
}

body, ol, ul, li, dl, dd, dt, p {
	font-family: helvetica, verdana, times, serif;
}

body {
	font-size: 76%;
}

a {
	text-decoration: none;
	font-weight: bold;
}
a:link {
}
a:visited {
}
a:active {
}
a:hover {
	color: #000;
    text-decoration: underline;
}
#content h1 {
	font-size: 2.9em;
	font-weight: bold;
	margin: 0;
	border-bottom: solid black 1px;
}
#content h2 {
	font-size: 1.7em;
	margin: 0.5em 0;
	font-weight: bold;
	border-bottom: solid gray 1px;
}
#content h3 {
	font-size: 1.4em;
	margin: 0.5em 0;
	font-weight: normal;
}
#content h4 {
	font-size: 1.2em;
	margin: 0.5em 0;
	font-weight: bold;
}
#content h5 {
	font-size: 1.0em;
	margin: 0.5em 0;
	font-weight: bold;
}
#content h6 {
	font-size: 0.8em;
	margin: 0.5em 0;
	font-weight: bold;
}
#content ol, #content ul, #content li {
	font-size: 1.0em;
	line-height: 1.4em;
	margin-top: 0.2em;
	margin-bottom: 0.1em; 
	}
#content p, #content dl {
	font-size: 1.2em;
	line-height: 1.6em;
	margin: 1em 0em 1em 0em;
	text-align: justify;
}

#content dt {
	font-size: 1.2em;
}

#content li > p {
	margin-top: 0.2em;
}
#content pre {
	font-family: monospace;
	font-size: 1.0em;
}
strong, b {
	font-weight: bold;
}

/*
 * fix q tags; we'll manually include quote entities so IE,
 * the hater of the q tag, remains supported
 * see: http://alistapart.com/articles/qtag/
 */
q:before, q:after { content: ""; }

/* custom classes */
.sig {
    font-style: italic;
}

/* specific page-related typography */

#nav li {
	font-size: 16px;
	font-weight: bold;
}

#nav dd {
	font-size: 10px;
	font-weight: normal;
}

#titlebar h1 {
	font-size: 48px;
	font-weight: bold;
}

#qotd {
	text-align: right;
	font-size: 14px;
}

#footer {
	font-size: 0.8em;
}
